

.button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 1.6rem;
    background: var(--button-bg-color);
    border-radius: .8rem;
    box-shadow: 10px 10px 4px 0px #2C3E50;
    color:var(--button-text-color);
  }


  :root {
   
    --nav-bg-color: #121212;
    --nav-text-color: #2C3E50;;
    --button-bg-color: #B3C2C6;;
    --button-text-color:#2C3E50;;
  }

:link:hover {
  background-color:#0D98FD; ;
}
